@{
    ViewData["Title"] = "Home Page";
    var description = "To the EZ-Shop App";
}

<div class="text-center">
    <h1 class="display-4">Welcome @description</h1>
    <p>Discover the magic of easy shopping experience :D</p>
</div>